################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/app/bin
/app/obj
/AppTests/bin
/AppTests/obj
